*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, darkblue, darkred);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, .9);
}
.span-two{
    grid-column: 2 span;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .75);
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

@media screen and (max-width:410px) {
    .calculator-grid{
        padding: 0;
    }

    body{
        background: white
    }
}

